<div class= "box">

    
    <h1> Articles: </h1> <br>
    <i> (Articles are added Weekly to enhance knowledge) </i><br> <br>
    <h2 id="article1"> Article 1: Conserving the Earth by National Geographic </h2>
    The Earth’s natural resources include air, water, soil, minerals, plants, and animals. 
    Conservation is the practice of caring for these resources so all living things can benefit from them now and in the future.
    People often waste natural resources; animals are overhunted and forests are cleared, exposing land to wind and water damage. 
    Fertile soil is exhausted and lost to erosion because of poor farming practices. Fuel supplies are depleted. Water and air are polluted.
    Forests provide habitats for animals and plants. They store carbon, helping reduce global warming and protect soil by reducing runoff. 
    Deforestation is the process of clearing away forests by cutting them down or burning them. People clear forests to use the wood, or to make way 
    for farming or development.
    Deforestatation releases greenhouse gases into the atmosphere, contributing to global warming and accounts for 15 percent of the world’s greenhouse gas emissions. 
    Trees can also be conserved if consumers recycle. People in China and Mexico, for example, reuse much of their wastepaper, including writing paper, 
    wrapping paper, and cardboard. If half the world’s paper were recycled, much of the worldwide demand for new paper would be fulfilled, saving 
    many of the Earth’s trees. <br> <br>
    
    More Information can be found at:
    <a href="https://www.nationalgeographic.org/article/conserving-earth/">Conserving the Earth</a> <br> <br>
    
    
    <h2 id="article2"> Article 2: Going Green: Cleaning Up is Everyone's Responsibility </h2>
    “Plastics continue to be a problem. We’ve just finished a weekend assisting with the International Coastal Clean-up and I want to thank the volunteers 
    for doing the work and gathering important data on the amount of waste being collected, because it’s not just about cleaning up but gathering baseline 
    data to determine what are the types of items are polluting the environment.” <br> <br>
    
    More Information can be found at:
    <a href="https://www.looptt.com/content/going-green-cleaning-everyones-responsibility-says-minister"> Going Green In Trinidad and Toabgo </a> <br> <br>
    
    
    <h2 id="article3"> Article 3: Cause and Effect Analysis of Littering in Trinidad and Tobago  </h2>
    Littering is a very serious problem in Trinidad and Tobago. Almost everywhere you turn garbage is present – on the highways, in communities, seas and rivers. Our once pristine 
    parks and beaches are now filled with various types of plastic, Styrofoam containers, and glass bottles. 
    People discard trash from their moving vehicles while others indiscriminately dump garbage in various places, not considering the harmful effects on the environment.
    <br> <br>
    For far too long Trinidadians have been unconcerned about their irresponsible and unlawful littering habits and if we continue along this path I shudder to think of the 
    state of the country in a couple years. Measures need to be taken to curb this littering epidemic that we are currently facing, and it definitely needs to be sooner rather than later.
    <br> <br> More Information can be found at:
    <a href="https://stratmatters.wordpress.com/2018/11/20/cause-and-effect-analysis-for-littering-in-trinidad-tobago-by-the-magnificent-7/"> Cause and Effect Analysis of Littering </a> <br> <br>
    
    
    <h1> Contact Information on Recycling Companies and Garbage Collectors: </h1> <br> <br>
    
    <h1> <b> SWMCOL'S VISION </b> </h1> <br>
    
    SWMCOL's Vision is to become the provider of choice for integrated environmental services in the region, with a reputation  for rendering highly reliable 
    services at competitive prices, and for ensuring the satisfaction of the customer. <br> <br>
  
    <h1> <b> SWMCOL'S MISSION </b> </h1> <br>
    Our Mission is to protect and enhance the environment in Trinidad and Tobago through the provision of high quality, efficient, customer oriented, cost 
    effective and sustainable waste collection, treatment, disposal, resource recovery and educational services. <br> <br>
    
    <i> <b> SWMCOL Head Office </b> </i><br> #34 Independence Square North,Port of Spain, Trinidad, W.I. <br>
    Phone: 868-612-SWMC (7962) <br>
    E-mail: info@swmcol.co.tt <br> <br>
    
    <i> <b> SWMCOL Tobago </b> </i> <br>
    Apt. #19 Lall’s Building,Dutch Fort, Scarborough, Tobago, W.I. <br>
    Phone: 868-639-3558 <br>
    E-mail: info@swmcol.co.tt <br> <br>
    
    <i> <b> Toll Free Hotline </b> </i> <br>
    800-SWMC (7962) <br> <br>
    
    <h1> <b> ABOUT iCareTT </b> </h1> <br>
    We are taking recycling and transforming the culture of waste management towards a 'Circular Economy'. <br> <br>
    
    <b> Call: </b> (868) 226-4362 <br> <br>
    <b> Visit Website: </b> https://www.ema.co.tt/ <br> <br>
    
     
  </div>