<div class="container">
    <div class="section">
            <div class="containerx">

<h1>Login</h1>

<hr>


<label for="email"><b>Email</b></label>
<input type="email" placeholder="Enter Email" id="email" required>

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" id="password" required>

<hr>

<button onclick="signIn()" class="loginbtn"  id="signIn">Login </button>

      <div class="login-bottom">
          <h4>Don't have an Account? <a routerLink="/register"> Register Now!</a></h4>
          
      </div>
  </div>
</div>
</div>

