  .loginbtn {
    background-color:#47c9af;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .loginbtn:hover {
    opacity: 1;
  }
